[user]
	email = ${git-email}
	name = ${git-name}
[push]
	default = simple
[core]
	editor = nvim
[color]
        ui = true
[color "status"]
        added = magenta bold
        changed = cyan
        untracked = blue dim
